*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: justCosmic;
    src: url(assets/JustCosmic.otf);
}

html {
    font-size: 62.5%
    /** Makes it so that 0.1 rem = 1 px **/
}

a {
    all: unset;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;

    background: linear-gradient(180deg, rgba(18,6,1,1) 40%, rgba(57,30,12,1) 100%);
}

/** Header **/
.header {
    border-bottom: 2px solid rgb(87, 44, 26);
    width: 100%;
    height: 10%;
}

.header-bg {
    position: absolute;
    z-index: 0;

    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header-text {
    position: absolute;
    z-index: 1;

    font-family: justCosmic;
    font-size: 20px;
    color: wheat;
    top: 3.5%;
}

@media only screen and (min-width: 360px) {
    
}

@media only screen and (min-width: 450px) {
    
}

@media only screen and (min-width: 540px) {
    
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 700px) {
    
}