*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: justCosmic;
    src: url(assets/JustCosmic.otf);
}

@font-face {
    font-family: ghosthey;
    src: url(assets/ghosthey-Regular.ttf);
}

html {
    font-size: 62.5%
    /** Makes it so that 0.1 rem = 1 px **/
}

a {
    all: unset;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/** Extra **/
.highlight-gold {
    color: wheat;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("assets/Bg.png");
    background-size: cover;
}

/** Header **/
.header {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

.header-icon {
    width: 10%;
    height: auto;
}

.header-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: wheat;
}

/** Menu **/
.menu {
    display: flex;
    justify-content: center;
}

.menu-li {
    float: left;
    list-style-type: none;
    padding: 10px;
    font-size: 1.7rem;
    color: white;
    border-bottom: 1px solid #443c38;
}

.menu-li:hover {
    cursor: pointer;
    color: #42758a;
}

.gallery-show {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.gallery-item {
    width: 45%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #a34a1d;
}

/** vert */
.vertical-sec {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 30px;
}

.sec-icon {
    position: relative;
    width: 100%;
    height: 100%;
}

.statue {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
    transform: rotate(10deg);
}

.stars {
    position: absolute;
    z-index: 1;
    width: 30%;
    height: auto;
    left: 10px;
}

.vert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-title {
    font-family: justCosmic;
    font-size: 2.5rem;
    color: #8c654d;
    letter-spacing: 2px;
    border-bottom: 2px solid #412f24;
    margin-right: 10px;
}

.sec-desc {
    color: white;
    margin-right: 10px;
    font-family: Times New Roman;
    padding-top: 10px;
}

.button {
    border: 1px solid #8c654d;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 25px;
}

@media only screen and (min-width: 360px) {
    
}

@media only screen and (min-width: 450px) {
    
}

@media only screen and (min-width: 540px) {
    
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 700px) {
    
}
